body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.profile-container {
    width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.profile-container img {
    width: 300px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.profile-container h2 {
    text-align: center;
    margin: 10px 0;
}
.info h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

hr {
    margin-top:10px;
}

ul {
    list-style-position: inside;
    li {
        margin: 5px 0;
        a {
            text-decoration: underline;
        }
        
    }
}

.profile-container p {
    text-align: center;
    color: #666;
}
.profile-container .info {
    margin-top: 15px;
}
.profile-container .info p {
    margin: 5px 0;
}
.profile-container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.profile-container h2 {
    text-align: center;
    font-size: 20px;
}