{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> <!--TECH DEBT: put the lines below in a css file-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant.name }}</title>

    <link rel="stylesheet" href="{% static 'restaurantPage.css' %}">

    <script>
        function showReviewForm() {
            let form = document.getElementById("add_review_form");
            let bottomOfPage = document.getElementById("scroll-to");
            let addReviewButton = document.getElementById("addReviewButton");
            if (form.style.display === "none") {
                form.style.display = "block";
                bottomOfPage.scrollIntoView({ behavior: "smooth", block: "end" });
            } else {
                form.style.display = "none";
            }

            if (addReviewButton.textContent == "Close Review Box") {
                addReviewButton.textContent = "Add Review"
            } else {
                addReviewButton.textContent = "Close Review Box"
            }
        }
    </script>
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a href="{% url 'foodie:restaurant_list' %}">Restaurant List</a>
            <a href="{% url 'foodie:mapView' %}">Back to Map</a>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if restaurant.image %}
        <div class="image-container">
            <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }} image" class="restaurant-image">
        </div>
    {% endif %}

    <form method="POST" action="{% url 'foodie:add_restaurant_favorite' restaurant.id %}">
        {% csrf_token %}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Add Favorite</button>
        </div>
    </form>

    <h1>{{ restaurant.name }}</h1>
    <h2>Cuisine: {{ restaurant.cuisine }}</h2>
    <p><strong>{{ restaurant.overall_rating }} {% if restaurant.overall_rating == 1 %}Star{% else %}Stars{% endif %}</strong></p>
    <p><strong>Address: </strong>{{ restaurant.address }}</p>
    <p><strong>Phone Number: </strong>{{ restaurant.phone_number }}</p>
    <p id = "restaurantLink" ><strong>Website: </strong><a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a></p>

    <p><strong>Reviews:</strong></p>
    {% for review in reviews %}
        <div class="review-container">
            <p class="star-rating"><strong>{{ review.rating }} {% if review.rating == 1 %}star{% else %}stars{% endif %}</strong> - {{ review.author_name }}</p>
            <p class="review-text">{{ review.text }}</p>
        </div>
    {% empty %}
        <p>No reviews available</p>
    {% endfor %}

    <div class="reviews-section">
        <button onclick="showReviewForm()" id="addReviewButton">Add a Review</button>

        <form action="{% url 'foodie:add_review' restaurant.id %}" method="post">
            {% csrf_token %}
            <div id="add_review_form" class="form-container" style="display: none;">
                <br>

                <label for="review">Write your review here:</label>
                <br>
                <textarea id="review" name="review" rows="4" cols="50" placeholder="Write your review here"></textarea>

                <br><br>

                <label for="rating">Restaurant Rating (Integer from 1 to 5):&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="rating" name="rating" min="1" max="5">

                <br><br>

                <input type="submit" value="Submit Review" class="button">
            </div>
        </form>
    </div>

    <div id="scroll-to"></div>

</body>
</html>
